h1{
    margin: 0 auto;
    padding 0;
  
}

p{
    margin: 0 auto;
    padding 0;
    float: left;
}

ul{
    list-style: none;
    padding-left: 0;
}

button{
    width: 250px;
    max-width: 100%;
    padding: 15px;
}
.app{
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 20px 40px #2c394d27;
    color: #878787;
    font-family: Helvetica, Arial, sans-serif;
    padding: 40px;
    max-width: 900px;
    margin: 0 auto;
}

.weather{
    max-width: 800px;
    margin: 60px auto;
    box-sizing: border-box;
}

.header-larger-text{
    font-size: 35px;}

.header-smaller-text{
    font-size: 15px;
}

.header-image{
    margin: 0 auto;
    width: 90px;
    height: auto;
    float: left;
}