h1{
    margin: 0 auto;
    padding: 0;
}

p{
    margin: 0 auto;
    padding: 0;
}

ul{
    list-style: none;
    padding-left: 0;
}

footer{
    font-size: 10px;
    margin: 0 5px;
}

.btn{
    width: 250px;
}
.app{
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 20px 40px #c6deff81;
    color: #878787;
    font-family: Helvetica, Arial, sans-serif;
    padding: 40px;
    max-width: 900px;
    margin: 0 auto;
}

.weather{
    max-width: 800px;
    margin: 60px auto;
    box-sizing: border-box;
}

.header-larger-text{
    font-size: 38px;
    font-weight: 400;
    margin: 20px 0 10px;
}

.header-smaller-text{
    font-size: 15px;
    text-transform: capitalize;
}


.header-icon{
    margin-top: 10px;
    margin-right: 5px;
    width: 90px;
    height: auto;
    line-height: 1;
}

.header-temp{
    align-items: center;
    margin-top: 30px;
}

.header-temp strong{
    font-size: 70px;
    font-weight: 400;
    margin-left: 10px; 
    margin-top: 20px;
}

.header-temp small{
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    position: relative;
    top: -34px;    
}


.weather-forecast{
    margin: 20 auto;
    text-align: center;
}

.forecast-day,
.forecast-temp-low{
    font-size: 12px;
    opacity: 0.8;
}

.forecast-temp-high{
    font-size: 12px;
    color: #3d3d3d;

}
